
 <nav style="background-color: #FFF;" class="navbar navbar-expand-lg  navbar-dark">
    <!-- <footer class="text-center text-white" style="background-color: #FFF;"> -->
        
        <div class="container pt-2">
        
          <section class="sec">
            
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.facebook.com/"
              title="Facebook"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://twitter.com/"
              title="Twitter"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
           
      
           
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.instagram.com/"
              title="Instagram"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
           
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.linkedin.com/in/yograj-aryal-ba174a219/"
              title="Linkedin"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://github.com/arlsurya204"
              title="GitHub"
              target="_blank"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          
        </div>
        
        <div class="text-center text-dark p-1" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" >Designed and Developed By <span class="code"><b> Surya Aryal</b></span></a>
        </div>
       
      <!-- </footer> -->
    </nav>