/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 4px;
    background-color: white;
    margin-right: 9px;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.body.dark .sidebar li a:hover .icon,
.body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
.body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
.body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.body.dark .home .text{
    color: var(--text-color);
}

li.nav-link.active{
   
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--text-color);
    --text-color:var(--primary-color-light);
}

.body.dark li.nav-link.active{
    color: var(--toggle-color);
    --text-color:var(--toggle-color);
}

div.chart-area{
    height: 277px;
}


div.chart-pie.pt-4.pb-2{
    height: 277px;
}

div.container-fluid.report{
    background-color: var(--sidebar-color);
    border: 2px solid var(--sidebar-color);
    border-radius: 4px;
    height: 71vh;
    padding-top: 10px;
}


.border-left-primary {
    border-left: .25rem solid #4e73df !important;
}

.border-left-success {
    border-left: .25rem solid #1cc88a !important;
}

.border-left-info {
    border-left: .25rem solid #36b9cc !important;
}

.border-left-warning {
    border-left: .25rem solid #f6c23e !important;
}

.border-bottom-primary {
    border-bottom: .25rem solid #4e73df !important;
}


.body.dark #card .card-style{
    background-color:#3a3b3c;
    color:white;
    border: 1px solid white;
    
}
.body.dark #card2 .card-style{
    background-color:#3a3b3c;
    color:white;
    
}
.body.dark #sms-container .card-style{
    background-color:#3a3b3c !important;
    color:white;
    
}
.body.dark #card .card-style1:hover{
    background-color:#444546;
    color: black;
    
}
.body.dark #card1 {
    background-color:#3a3b3c !important;
    color:white;
    
}
.body.dark #sample_data {
    background-color:#3a3b3c !important;
    color:white;
    
}

.body.dark nav.navbar{
    background-color:#3a3b3c !important;
    
}

.body.dark i{

    color:white;
    
}

.body.dark .dropdown-toggle::after{
    color: white;
}

.body.dark span.text-gray-600{
    color: white;
}
.body.dark span #contactAdd{
    color:white;
     
 
 }
.body.dark span #addTemplate{
    color:white;
     
 
 }
 .body.dark button#submit_msg{
    border: 1px solid;
}

/* body.dark .tabs_wrap ul{
   background-color:  #18191a;
}



body.dark div.modal-content.dark{
    background-color: #18191a;
} */

.body.dark div.card{
    background-color: #3a3b3c;
     color:white;
}

.body.dark div.modal-content{
    background-color: #3a3b3c;
    color:white;
}

.body.dark .wrapper .tabs_wrap ul{
    background:#18191a !important;
}

.body.dark table.table-bordered.dataTable {
    color:white;
}


.body.dark #dropDown{
    background-color:#242526;
  }
  
  .body.dark #dropDown a{
    color:white;
  }
  .body.dark #dropDown a:hover{
    background-color: #3a3b3c;
  }

  ul .smsTab li#active{
    background-color: #3a3b3c;
  }
 
  .body.dark .wrapper .tabs_wrap ul li:hover
  {
    background: #3a3b3c !important;
    color: #fff !important;
  }
  .wrapper .tabs_wrap ul li.active{
    background-color: #695CFE;
    color: #fff;
  }
 .body.dark .wrapper .tabs_wrap ul li.active{
    background-color: #3a3b3c;
    color: #fff;
  }
  .hide{
    display: none;
  }

  .text_dark{
    color:white;
  }

  .body.dark label{
    color: #fff;
  }

  .body.dark div.dataTables_wrapper div.dataTables_info{
    color: #fff;
  }

  .body.dark div.dataTables_wrapper div.dataTables_paginate{
    background-color: #FFF !important;
    border-radius: 12px !important;
  }

  .body.dark div.dataTables_wrapper div.dataTables_length select{
    background-color: #FFF;
  }

  .body.dark div.dataTables_wrapper div.dataTables_filter input{
    background-color: #FFF;
  }

  div.dataTables_wrapper div.dataTables_paginate{
    border: 1px solid black;
    border-radius: 7px;
  }