<div class="body">
    <nav class="navbar navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img  src="../../assets/gca.png" height="40px" alt="">
           <span class="cross mr-3 ml-3"> <i class="fa fa-times " aria-hidden="true"></i></span>
           
            <img src="../../assets/calculator_logo.png" height="40px" alt="">
        </a>
        <div class="navbar-brand"><h3><strong> Scholarship Calculator </strong></h3></div>
        </nav>
    
        <div class="container-fluid mt-2">
          <h4>
              <ul>
                <li><b>Choose Your Subject as per Theory Subjects</b></li>
               </ul>
              </h4>
    
        </div>
        <mat-divider></mat-divider>
    
        <div (change)="changedata($event)" class="container-fluid mt-2">
          <div class="container-fluid option-section">
           
           
            <mat-form-field appearance="fill">
    
              <mat-label>{{sub1name}}:</mat-label>
              <mat-select [formControl]="subject1control" required (change)="englishPick($event)">
                <mat-option>--</mat-option>
      
            <mat-option value="A+">A+</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C+">C+</mat-option>
            <mat-option value="C">C</mat-option>
    
              </mat-select>
              <mat-error *ngIf="subject1control.hasError('required')">Please choose a Grade of {{sub1name}} Subject</mat-error>
              <mat-hint>{{subject1control.value?.sound}}</mat-hint>
              
            </mat-form-field>
    
    
            
            <mat-form-field appearance="fill">
    
              <mat-label>{{sub2name}}:</mat-label>
              <mat-select [formControl]="subject2control" required (change)="nepaliPick($event)">
                <mat-option>--</mat-option>
                <mat-option value="A+">A+</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C+">C+</mat-option>
            <mat-option value="C">C</mat-option>
              </mat-select>
              <mat-error *ngIf="subject2control.hasError('required')">Please choose a Grade of {{sub2name}} Subject</mat-error>
              <mat-hint>{{subject2control.value?.sound}}</mat-hint>
              
            </mat-form-field>
            
            <mat-form-field appearance="fill">
    
              <mat-label>{{sub3name}}:</mat-label>
              <mat-select [formControl]="subject3control" required (change)="mathPick($event)">
                <mat-option>--</mat-option>
                <mat-option value="A+">A+</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C+">C+</mat-option>
            <mat-option value="C">C</mat-option>
              </mat-select>
              <mat-error *ngIf="subject3control.hasError('required')">Please choose a Grade of {{sub3name}} Subject</mat-error>
              <mat-hint>{{subject3control.value?.sound}}</mat-hint>
              
            </mat-form-field>
            
            <mat-form-field appearance="fill">
    
              <mat-label>{{sub4name}}:</mat-label>
              <mat-select [formControl]="subject4control" required (change)="sciencePick($event)" >
                <mat-option>--</mat-option>
                <mat-option value="A+">A+</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C+">C+</mat-option>
            <mat-option value="C">C</mat-option>
              </mat-select>
              <mat-error *ngIf="subject4control.hasError('required')">Please choose a Grade of {{sub4name}} Subject</mat-error>
              <mat-hint>{{subject4control.value?.sound}}</mat-hint>
              
            </mat-form-field>
            
            <mat-form-field appearance="fill">
    
              <mat-label>{{sub5name}}:</mat-label>
              <mat-select [formControl]="subject5control" required (change)="accountPick($event)">
                <mat-option>--</mat-option>
                <mat-option value="A+">A+</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C+">C+</mat-option>
            <mat-option value="C">C</mat-option>
              </mat-select>
              <mat-error *ngIf="subject5control.hasError('required')">Please choose a Grade of {{sub5name}} Subject</mat-error>
              <mat-hint>{{subject5control.value?.sound}}</mat-hint>
              
            </mat-form-field>
            
         
         
         
          </div>
          <div class="option-second">
          <mat-form-field appearance="fill">
    
            <mat-label>Rank:</mat-label>
            <mat-select (change)="rankData($event)" name="" id="rank">
              <mat-option>--</mat-option>
              <mat-option value="15">{{first}}</mat-option>
              <mat-option value="10">{{second}}</mat-option>
              <mat-option value="5">{{third}}</mat-option>
            </mat-select>
           
          </mat-form-field>
          <mat-form-field appearance="fill">
    
            <mat-label>First 100 Admission:</mat-label>
            <mat-select (change)="top100($event)">
              <mat-option>--</mat-option>
              
              <mat-option>Yes</mat-option>
              <mat-option>NO</mat-option>
            </mat-select>
           
          </mat-form-field>
            
         </div>
    
        </div>
        <mat-divider></mat-divider>
        <div class="container">
          <p><b> Fee Details</b></p>
          <p><b> Gurukul Tution Fees = {{totalFee}} </b></p>
          <p>Less Scholarship</p>
        
          <h3>1. Merit Based Scholarship</h3>
        
          <table class="table table-bordered border">
            <tr style="background-color: White ; color:black;">
              <th>Subject</th>
              <th>Grade</th>
              <th>Scholorship</th>
            </tr>
        
            <tr>
              <td>{{sub1name}}</td>
              <td>{{sub1}}</td>
              <td id="eng">{{english}}%</td>
        
            </tr>
            <tr>
              <td>{{sub2name}}</td>
              <td>{{sub2}}</td>
              <td id="nep">{{nepali}}%</td>
        
        
            </tr>
            <tr>
              <td>{{sub3name}}</td>
              <td>{{sub3}}</td>
              <td id="math">{{math}}%</td>
        
        
            </tr>
            <tr>
              <td>{{sub4name}}</td>
              <td>{{sub4}}</td>
              <td id="science">{{science}}%</td>
        
        
            </tr>
            <tr>
              <td>{{sub5name}}</td>
              <td>{{sub5}}</td>
              <td id="acc">{{account}}%</td>
        
        
            </tr>
            <tr>
              <td></td>
              <td><b> Total</b></td>
        
              <td><b>{{sum}}%</b></td>
            </tr>
            <tr style="background-color:green ;">
              <td><b>Scholarship Amount</b></td>
              <td></td>
              <td>{{lessP}}</td>
            </tr>
            <tr>
              <td></td>
              <td><b>Fee After First Scholorship</b></td>
              <td>{{lessFirst}}</td>
            </tr>
        
          </table>
          <h3> 2. College Topper Scholarship</h3>
          <table class="table table-bordered border">
            <tr style="background-color: White ; color:black;">
              
              <th></th>
              <th><b>Rank</b></th>
              <th><b>Scholorship</b></th>
        
        
            </tr>
        
            <tr>
              <td>Collage Topper</td>
              <td>{{top}}</td>
              <td id="rank">{{rank}}%</td>
        
            </tr>
            <tr style="background-color:green ;">
              <td>Scholarship Amount</td>
              <td></td>
              <td>{{secondS}}</td>
        
        
            </tr>
            <tr>
              <td></td>
              <td><b>Fee After Second Scholarship</b></td>
              <td>{{less2}}</td>
        
        
            </tr>
        
        
          </table>
        
          <hr>
         
        
          <h3> 3. First Come First Serve</h3>
          <table class="table table-bordered">
        
        
            <tr>
              <td>
              </td>
        
        
            </tr>
            <tr>
              <td>First 100 Admission</td>
              <td>{{topH}}</td>
              <td>{{topText}}%</td>
        
            </tr>
            <tr style="background-color:green ;">
              <td>Scholorship Amount</td>
              <td></td>
              <td>{{thirdS}}</td>
            </tr>
            <tr>
              <td></td>
              <td><b>Fee After Third Scholarship</b></td>
              <td>{{less3}}</td>
            </tr>
        
          </table>
          <br>
        
          <!--   -->
          <h3>Total Scholarship Amount</h3>
          <table class="table table-bordered">
            <tr>
              <td></td>
              <td>Total</td>
              <td>{{totalAmt}}</td>
        
        
            </tr>
            <!-- <tr>
              <td><b> Net Fee</b></td>
              <td>{{netFee}}</td>
            </tr> -->
          </table>
        <br>
          <table class="table table-bordered" >
           
            
        
            <tr style="background-color:cadetblue ;">
              <td><b> Net Payable Fee</b></td>
              <td>{{netFee}}</td>
              <td></td>
            </tr>
            
          </table>
          <br><br>
          <br>
          <hr>
        
        
        </div>
    
    
        