mat-form-field{
    margin: 4px;
    margin-right: 80px;
}
.option-second{
   text-align: center;
}

table {
    width: 100%;
  }

 .table-bordered{
    border: 1.5px solid black !important;
    background-color: #F5F5F5;
 }

